.restaurantDetailWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .restaurantImageWrapper {
        width: 559px;
        border-radius: 16px;
        height: 296px;
    }
    .detailWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15px;
        .name {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            color: #182135;
        }
        .description {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #626264;
            margin-top: 12px;
            margin-bottom: 20px;
        }
        .restaurantInfo {
        .timingDetails {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                margin-right: 20px;
            }
            .timingWrapper {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #626264;
                width: 75%;
            }
        }
    }
    }
}
.separatorWrapper {
    margin-top: 58px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
.separator {
    border-bottom: 1px solid rgba(163, 163, 164, 0.32);
    width: 402px;
}
}
.menuCategoryWrapper {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .category {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        background: #503e9d;
        border-radius: 8px;
        cursor: pointer;
    }
    .selectedCategory {
        background: #503e9d;
        color: #FFFFFF
    }
}
.menuHeading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #182135;
}
.menuListWrapper {
    .cardWrapper {
        .coverImage {
            width: 336px;
            height: 176px;
            border-radius: 16px;
        }
        .nameWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #182135;
            }
            .price {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
                color: #503e9d;
            }
        }
    }
}
